<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>O TARS salva fotos tiradas por comando de voz no app Fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O TARS usa a biblioteca de fotos apenas para salvar fotos tiradas por comando de voz.</string>
</dict>
</plist>
